version: '2'

services:
  ddns:
    environment:
      DDNS_DOMAIN: d.example.net                      # <<< ADJUST DOMAIN
      DDNS_SOA_DOMAIN: ddns.example.net               # <<< ADJUST DOMAIN

  powerdns:
    ports:
      - "53:53/udp"

  redis:
    volumes:
      - "${PWD}/.redis_mount:/data"

  caddy:
    restart: unless-stopped
    image: abiosoft/caddy:latest
    depends_on:
      - ddns
    environment:
      ACME_AGREE: "true"
      DDNS_FRONTEND_HOST: ddns:8080
      DDNS_CADDY_DOMAIN: ddns.example.net             # <<< ADJUST DOMAIN
      DDNS_CADDY_TLS_EMAIL: changeme@example.net      # <<< INSERT EMAIL
    volumes:
      - "${PWD}/caddy/Caddyfile:/etc/Caddyfile"
      - "${PWD}/.caddy_mount:/root/.caddy"
    ports:
      - "80:80"
      - "443:443"
